/*Formatting for my overlay page, surrounding the 2020 Summer Olympics swimming.*/

body{
  background-color: ghostwhite;
  font-family: monospace;
  padding: 1em;
  margin: 0;
  background-image: url(../img/swimdude.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: ghostwhite;
  font-size: large;
}
.logo{
  max-width: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.score{
  position: absolute;
  left: 10px;
  top: 1px;
  background: linear-gradient(to top, rgba(26,39,90,1),rgba(0,0,0,0.1));
  padding: 2mm;
  border: solid #1a275a .5mm;
  border-radius: 10px;
}