html, body {height: 100%;}
body {
background:white; 
}
.wave { 
  width:100%;
  position: absolute;
  left:0;
  bottom:0;
}

.wave-child {
  background: url("wavegradient2.png") repeat-x;
  position: absolute;
  min-height: 300px;
  width: 4167px;
  top: -150px;
  animation: wave-one 8s cubic-bezier(.3,.4,.6,.5) infinite;
  transform: translate3d (0,0,0);
}

.wave-child:nth-of-type(2) {
  top: -150px;
  animation: wave-one 8s cubic-bezier(.3,.4,.6,.5) -.124s infinite, crests 10s ease -1s infinite;
  opacity: 1;
}

@keyframes wave-one {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -4617px;
  }
}

@keyframes crests {
  0%, 100% {
    transform: translate3d(0,-50px,0);
  }
  50% {
    transform: translate3d(0,80px,0);
  }
}